<header class="header">
  <nav class="navbar container">
    <div class="nav-right">
      <a href="#" class="btn login">ورود</a>
      <a href="#"  routerLink="/register" class="btn signup">ثبت‌نام</a>
    </div>
    <div class="nav-left">
      <ul class="nav-links">
        <li><a href="#" class="active">خانه</a></li>
        <li><a href="#">درباره من</a></li>
        <li><a href="#">خدمات</a></li>
        <li><a href="#">مقالات</a></li>
        <li><a href="#">تماس</a></li>
      </ul>
    </div>
  </nav>

  <section class="hero container">
    <div class="hero-content">
      <h1>وکالت تخصصی با تجربه بالا</h1>
      <p>حل مشکلات حقوقی شما با دانش و مهارت حرفه‌ای و ارائه بهترین مشاوره‌ها</p>
      <button onclick="contact()">ارتباط با من</button>
    </div>
    <div class="hero-image"></div>
  </section>
</header>
 