:host {
  display: block;
  max-width: 400px;
  margin: 30px auto;
  direction: rtl;
  font-family: Tahoma, sans-serif;
}

.member-form {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
  margin-top: 15px;
}

button {
  margin-top: 25px;
  align-self: flex-start;
}
