@use "@angular/material" as mat;
@use "../variables" as *;

@include mat.button-overrides((
  horizontal-padding: 15px,
  container-shape: 100px,
  label-text-weight: 400,
  hover-container-elevation-shadow: var(--mat-elevation-level1),
));

@include mat.icon-button-overrides((
  icon-color: $text-color,
));

html {
  .mat-mdc-button-base.bg-light-primary:hover,
  .mat-mdc-button-base.bg-light-secondary:hover,
  .mat-mdc-button-base.bg-light-error:hover,
  .mat-mdc-button-base.bg-light-warning:hover,
  .mat-mdc-button-base.bg-light-success:hover {
    color: $white !important;
  }

  .mat-mdc-button-base.bg-light-primary:hover {
    background-color: var(--mat-sys-primary) !important;
  }

  .mat-mdc-button-base.bg-light-secondary:hover {
    background-color: var(--mat-sys-secondary) !important;
  }

  .mat-mdc-button-base.bg-light-error:hover {
    background-color: var(--mat-sys-error) !important;
  }

  .mat-mdc-button-base.bg-light-warning:hover {
    background-color: $warning !important;
  }

  .mat-mdc-button-base.bg-light-success:hover {
    background-color: $success !important;
  }

  .mat-mdc-outlined-button:not(:disabled) {
    border-color: inherit;
  }
}
